.pokemonn-name {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 300px;
  height: 30px;
}

.pokemonn-name h3 {
  margin: 0;
  display: inline-block;
  font-size: 1rem;
}

.pokemonn-name h2 {
  margin: 0;
  display: inline-block;
  font-size: 1rem;
}

.stat-bar {
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 50px;
}

.stat-bar-container {
  height: 20px;
  display: flex;
  position: absolute;
  width: 300px;
}

.stat-value-bar {
  background-color: red;
}
