.api {
  display: flex;
  flex-direction: column;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  flex-direction: row;
  width: 100%;
  position: relative;
  flex-wrap: wrap;
  gap: 1.5em;
  margin: 0 auto;
  max-width: 1200px;
}
