.PokeCard {
  background-color: rgb(200, 200, 200);
  height: 250px;
  width: 200px;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 10px;
  width: 20%;
  min-width: 200px;
  align-items: center;
}

.pokemon-img {
  position: relative;
  height: 65%;
}

.pokemon-name {
  position: relative;
  height: 35%;
  font-size: 2em;
  margin: 0 auto;
  bottom: 1em;
  font-family: sans-serif;
  bottom: 1.5em;
  display: flex;
  align-items: flex-end;
}
